<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P5 Super-Cool</title>
</head>
<body>
<div class="topnav" >
    <b><a class="active" href="home">home</a>
        <a href="geoguesser">geo guessr</a>
        <a href="history">history</a>
        <a href="covid">covid cases</a>
        <a href="p5">p5 super-cool</a></b>
</div>

{% block home %}
{% endblock %}
{% block geoguessr %}
{% endblock %}
{% block history %}
{% endblock %}
{% block covidcases %}
{% endblock %}
{% block p5 %}
{% endblock %}

</body>
</html>