body { 
 padding: 0%; 
 margin: 0%; 
}

a{
 text-decoration: none;
 color: inherit;
 all: unset;
}
  
section { 
 width: 100%; 
 min-height: 300px; 
 z-index: 1

} 

.TransText {
 color: #09A23A;
 font-size:100px;
 position: fixed;
 opacity:.5;
 letter-spacing: 5px;
 z-index: 5;
}

.TransText:hover {
 opacity:1;
 transition-duration: 0.4s;
}

body {margin:0;}

.topnav {
  overflow: hidden;
  top: -9px;
  background-color: #6D7173 ;
  z-index: 5;
  position: relative;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Major Mono Display',Regular;
  transition-duration: 0.3s;
  z-index: 5;

}

.topnav a:hover {
  background-color:#3C613E;
  color: black;
  z-index: 5;

}

.topnav a.active {
  background-color: #97BD93;
  color: white;
  z-index: 5;

}

.navheader {
  float: left;
  color: #3C613E;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Major Mono Display',Regular;
  letter-spacing:5px;
  position:absolute;
  left:20px;
  top:-15px;
  z-index: 5;

}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
    z-index: -4;
    width: 100%;
    height: 100%;
}

.landing-header{
   position: relative;
   height: 100vh;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.greece-header{
   position: relative;
   height: 100vh;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: .6;
   z-index: -5;

}

.location-pos{
    position: relative;
    top: -700px;
    z-index: 3;
}

.heading-color{
    color: #083047;
}




