
{% extends 'nav-bar.html' %}
{% block history %}
  <b><a style="text-decoration: none" href="landing"><p class="navheader">history</p></a></b>
<div class="bg-image-h"></div>

<center><div class="hlinks">
    <h3>Countries</h3>
    <a style="text-decoration: none; cursor: pointer;" href="africa">africa</a>
    <br><a style="text-decoration: none; cursor: pointer;" href="america">america</a>
    <br><a style="text-decoration: none; cursor: pointer;" href="brazil">brazil</a>
    <br><a style="text-decoration: none; cursor: pointer;" href="denmark">denmark</a>
    <br><a style="text-decoration: none; cursor: pointer;" href="greece">greece</a>
    <br><a style="text-decoration: none; cursor: pointer;" href="iceland">iceland</a>
    <br><a style="text-decoration: none; cursor: pointer;" href="india">india</a>
</div></center>
</body>
{% endblock %}
